@model Idea_Management.Models.Ideas

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Ideas</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="Deadline1">Deadline1</label>
            <input class="form-control" type="datetime-local" data-val="true" data-val-required="The Deadline 1 field is required." id="Deadline1" name="Deadline1" value="" />
            <span class="text-danger field-validation-valid" data-valmsg-for="Deadline_2" data-valmsg-replace="true"></span>
        </div>

        <div class="form-group">
            <label class="control-label" for="Deadline2">Deadline2</label>
            <input class="form-control" type="datetime-local" data-val="true" data-val-required="The Deadline 2 field is required." id="Deadline2" name="Deadline2" value="" />
            <span class="text-danger field-validation-valid" data-valmsg-for="Deadline_2" data-valmsg-replace="true"></span>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
